.app {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 280px;
  height: 100vh;
  overflow-y: auto;
}

.dashboardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  padding: 0px 24px 24px 24px;
}

.leftColumn {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.rightColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-width: 350px;
}

.dashboardContainer::-webkit-scrollbar {
  width: 8px;
}

.dashboardContainer::-webkit-scrollbar-track {
  border-radius: 4px;
}

.dashboardContainer::-webkit-scrollbar-thumb {
  border-radius: 4px;
}
