.heatmapCard {
  background: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 16px;
  padding: 20px;
  font-family: Inter, sans-serif;
  max-width: 100%;
  box-sizing: border-box;
  width: 100%;
  position: relative;
}

.heatmapHeader {
  margin-bottom: 16px;
}

.heatmapTitle {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}

.heatmapSubtitle {
  font-size: 14px;
  font-weight: 400;
  color: #737373;
  margin-top: 2px;
}

.heatmapBody {
  display: flex;
  gap: 8px;
  align-items: center;
  width: 100%;
}

.heatmapY {
  display: flex;
  flex-direction: column;
  height: 200px;
  margin-bottom: 50px;
  justify-content: space-between;
  gap: 3px;
  flex-shrink: 0;
}

.yLabel {
  font-size: 10px;
  color: #9ca3af;
  text-align: right;
  height: 20px;
  line-height: 20px;
}

.heatmapContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  overflow-x: auto;
}

.heatmapGrid {
  display: grid;
  grid-template-columns: repeat(31, minmax(8px, 1fr));
  grid-template-rows: repeat(10, 20px);
  gap: 3px;
  width: 100%;
  max-width: calc(31 * 15px);
  min-width: calc(31 * 8px);
}

.heatmapCell {
  width: 100%;
  height: 100%;
  background: #f3f4f6;
  cursor: pointer;
  border-radius: 2px;
}

.level1 {
  background: #EDE9FB;
}

.level2 {
  background: #CABEF3;
}

.level3 {
  background: #947DE8;
}

.heatmapCell.active {
  outline: 2px solid #3D1FAB;
  border-radius: 2px;
  z-index: 2;
  cursor: none;
  position: relative;
}

.heatmapXContainer {
  display: flex;
  width: 100%;
}

.heatmapX {
  display: grid;
  grid-template-columns: repeat(31, minmax(8px, 1fr));
  gap: 7px;
  margin-top: 5px;
  width: 100%;
  max-width: calc(31 * 15px);
  min-width: calc(31 * 8px);
}

.xLabel {
  font-size: 10px;
  color: #9ca3af;
  text-align: center;
  height: 16px;
  line-height: 16px;
}

.xLabel.even {
  color: #262626;
}

.heatmapLegend {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 16px;
  font-size: 10px;
  color: #6b7280;
  justify-content: space-between;
  flex-wrap: wrap;
}

.legendItem {
  display: flex;
  align-items: center;
  gap: 4px;
}

.legendDot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.heatmapTooltip {
  position: fixed;
  width: 180px;
  background: #ffffff;
  border-radius: 8px;
  padding: 8px 10px;
  box-shadow:
    0 10px 15px rgba(0, 0, 0, 0.08),
    0 4px 6px rgba(0, 0, 0, 0.04);
  font-size: 12px;
  color: #111827;
  pointer-events: none;
  z-index: 1000;
  border: 1px solid #e5e7eb;
  transform: translateY(-40%);
}

.tooltipTime {
  font-weight: 500;
  margin-bottom: 4px;
  white-space: nowrap;
  font-size: 11px;
}

.tooltipRow {
  display: flex;
  align-items: center;
  gap: 6px;
}

.tooltipDot {
  width: 10px;
  height: 10px;
  border-radius: 2px;
}

